<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyPie Derby</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<style>

    .text-decoration-none{
        text-decoration: none;
    }
</style>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg  navbar-expand-md  navbar-expand-sm navbar-dark bg-dark text-white">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Hello {{loggedUser.first_name}}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse w-25 text-white" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a href="/pies" class="text-decoration-none mx-3 text-white">All Requests</a>
                <a class="mx-3 text-decoration-none text-white" href="/logout">Logout</a>
            </div>
          </div>
      </nav>

    <div class="row ">
    <div class="col-lg-6 mt-4 p-5 border border-1 rounded">
        <h1>Instagram feature Requests by {{loggedUser.first_name}}</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                {% for pie in pies %}
                    <tr>
                        <td>{{pie.name}}</td>
                        <td>
                            <a class="btn btn-warning" href="/edit/pies/{{pie.id}}">Edit Request</a>
                            <a class="btn btn-danger" href="/delete/pie/{{pie.id}}">Delete Request</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
    <div class="col-lg-6 p-5 mt-4 p-5 border border-1 rounded">
        <h1>Add new request</h1>
        <form class="pr-5 mt-3" action="/create/pie" method="post">
            <div class="form-row">        
                <label  for="name">Request Title:</label>
                <input type="text" min="0" class="form-control" name="name" placeholder="Enter request title">
            </div>
            {% with messages = get_flashed_messages(category_filter=["namePie"]) %}
            {% if messages %}
            {% for message in messages %}
            <p class="text-danger text-center">{{message}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <div class="form-row">
                <label  for="filling">Feature Funtionality:</label>
                <textarea class="form-control" name="filling" cols="20" rows="5"></textarea>
             </div>
             {% with messages = get_flashed_messages(category_filter=["fillingPie"]) %}
             {% if messages %}
             {% for message in messages %}
             <p class="text-danger text-center">{{message}}</p>
             {% endfor %}
             {% endif %}
             {% endwith %}

            <div class="form-row">
                <label  for="crust">Desctiption:</label>
                <textarea class="form-control" name="crust"  cols="20" rows="5"></textarea>
            </div>
            {% with messages = get_flashed_messages(category_filter=["crustPie"]) %}
            {% if messages %}
            {% for message in messages %}
            <p class="text-danger text-center">{{message}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <button class="mt-2 btn btn-outline-dark">Add Request</button>
    </div>
    </div>

</body>
</html>